<h1>Add a Task to $category.getName() </h1>

<form action="/tasks" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="$category.getId()">

  <div class="form-group">
    <label for="description">Task Description</label>
    <input id="description" name="description" type="text">
  </div>

  <button type="submit" class="btn btn-warning">Add Task</button>
</form>
