<h3>Here are all the tasks in $category.getName():</h3>

#foreach ($task in $category.getTasks())
  <h1>$task.getDescription()</h1>
#end

<a href="/categories/$category.getId()/tasks/new" class="btn btn-info">Add a new task</a>
<a href="/categories" class="btn btn-default">View All Categories</a>
<a href="/all-tasks" class="btn btn-warning">All tasks</a>
